# General
.DS_Store
*.log
*.env
node_modules/
dist/
build/
.aws-sam/

# Frontend specific
frontend/.env
frontend/.env.local
frontend/build/
frontend/node_modules/

# Backend specific
backend/node_modules/
backend/.aws-sam/
backend/packaged.yaml

# Ignore boto3 directories
backend/src/data_api/boto3
backend/src/data_api/boto3-1.38.41.dist-info
backend/src/data_api/*/